<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="selectedPeriod"
        >
          <option selected value="anual">Anual</option>
          <option value="mensual">Mensual</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="brutoNeto"
        >
          <option selected value="bruto">Bruto</option>
          <option value="neto">Neto</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="pagas"
        >
          <option selected value="12">12 pagas</option>
          <option value="14">14 pagas</option>
        </select>
      </div>
      <div class="col-sm-2">
        <div data-mdb-input-init class="form-outline">
          <input
            type="number"
            id="typeNumber"
            class="form-control"
            placeholder="Sueldo"
            [(ngModel)]="sueldo"
            (ngModelChange)="actualizarGrafico()"
          />
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <canvas id="myChart" baseChart> </canvas>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h4>Resumen:</h4>
        <ul class="list-group">
          <li class="list-group-item">
            Costes seguridad social empresa:
            {{ this.calcularSSEmpresa().total }}
          </li>
          <li class="list-group-item">
            Costes seguridad social trabajador:
            {{ this.results.cuota_segsocial }}
          </li>
          <li class="list-group-item">
            IRPF pagado por el trabajador: {{ this.results.cuota_irpf }}
          </li>
          <li class="list-group-item">
            Sueldo neto recibido: {{ this.results.sueldo_neto }}
          </li>
        </ul>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row"></div>
  </div>
</main>

<router-outlet />
