<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-1 col-md-2 inputs"></div>
      <div class="col-5 col-md-2 inputs">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="selectedPeriod"
          (ngModelChange)="actualizarGrafico()"
        >
          <option selected value="anual">Anual</option>
          <option value="mensual">Mensual</option>
        </select>
      </div>
      <div class="col-5 col-md-2 inputs">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="brutoNeto"
          (ngModelChange)="actualizarGrafico()"
        >
          <option selected value="bruto">Bruto</option>
          <option value="neto">Neto</option>
        </select>
      </div>
      <div class="col-1 d-md-none inputs"></div>
      <div class="col-1 d-md-none inputs"></div>
      <div class="col-5 col-md-2 inputs">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="pagas"
          (ngModelChange)="actualizarGrafico()"
          [disabled]="selectedPeriod == 'anual'"
        >
          <option selected value="12">12 pagas</option>
          <option value="14">14 pagas</option>
        </select>
      </div>
      <div class="col-5 col-md-2 inputs">
        <div data-mdb-input-init class="form-outline">
          <input
            type="number"
            id="typeNumber"
            class="form-control"
            placeholder="Sueldo"
            [(ngModel)]="sueldo"
            (ngModelChange)="actualizarGrafico()"
          />
        </div>
      </div>
      <div class="col-1 col-md-2 inputs"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row" *ngIf="!sueldo">
      <div class="col-12 text-center">
        <h3>Escribe tu sueldo</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-1 col-md-2"></div>
      <div class="col-10 col-md-8">
        <canvas id="myChart" baseChart> </canvas>
      </div>
      <div class="col-1 col-md-2"></div>
    </div>
  </div>

  <div class="container-results">
    <div class="container mt-5">
      <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6">
          <h4>Resumen (datos anuales):</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">
                  Cuanto paga la empresa por mi:
                </div>
                <div class="col-4 col-md-2">
                  <strong
                    >{{ results.total_pagado_empresa.toFixed(0) }} €</strong
                  >
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">Sueldo neto recibido:</div>
                <div class="col-4 col-md-2">
                  <strong>{{ this.results.sueldo_neto.toFixed(0) }} €</strong>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">
                  Cuanto de lo que paga la empresa va al estado:
                </div>
                <div class="col-4 col-md-2">
                  <strong
                    ><span *ngIf="sueldo && sueldo > 100">{{
                      (
                        (1 -
                          this.results.sueldo_neto /
                            results.total_pagado_empresa) *
                        100
                      ).toFixed(1)
                    }}</span>
                    %</strong
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-1 col-md-3"></div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6">
          <h4>Desglose impuestos (datos anuales):</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">
                  Costes seguridad social empresa:
                </div>
                <div class="col-4 col-md-2">
                  <strong
                    >{{ this.calcularSSEmpresa().total.toFixed(0) }} €</strong
                  >
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">
                  Costes seguridad social trabajador:
                </div>
                <div class="col-4 col-md-2">
                  <strong
                    >{{ this.results.cuota_segsocial.toFixed(0) }} €</strong
                  >
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-md-10">
                  IRPF pagado por el trabajador:
                </div>
                <div class="col-4 col-md-2">
                  <strong>{{ this.results.cuota_irpf.toFixed(0) }} €</strong>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-1 col-md-3"></div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 text-center">&#64;Lekimlarra</div>
    </div>
  </div>
  <br /><br />
</main>

<router-outlet />
