<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <select class="form-select" aria-label="Default select example">
          <option selected value="anual">Anual</option>
          <option value="mensual">Mensual</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-select" aria-label="Default select example">
          <option selected value="bruto">Bruto</option>
          <option value="neto">Neto</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-select" aria-label="Default select example">
          <option selected value="12">12 pagas</option>
          <option value="14">14 pagas</option>
        </select>
      </div>
      <div class="col-sm-2">
        <div data-mdb-input-init class="form-outline">
          <input
            type="number"
            id="typeNumber"
            class="form-control"
            placeholder="Sueldo"
          />
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'"
        >
        </canvas>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>

<router-outlet />
